@model List<YourApplication.Models.KYC>

<h1>KYC List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KYCID</td>
                <td>@item.Name</td>
                <td>@item.Gender</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KYCID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.KYCID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
